<div class="container">
  <br />
  <div class="jumbotron" id="bodycolour">
    <h1>{{ title }}</h1>
    <br />

    <!--Allows users to edit table information-->
    <div class="form_size">
      <form class="form" (submit)="onDetailsPageSubmit()">
        <div class="row">
          <div class="col-sm-3">
            <label for="name" class="col-form-label" aria-hidden="true">
              Name:
            </label>
          </div>
          <div class="col-sm-6">
            <input
              type="text"
              class="form-control form-control-sm"
              name="name"
              [(ngModel)]="Task.Name"
              required="required"
              id="txt_name"
              value="{{ Task.Name }}"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <label for="task" class="col-form-label">Task Name: </label>
          </div>
          <div class="col-sm-6">
            <input
              type="text"
              class="form-control form-control-sm"
              name="task"
              required="required"
              id="txt_task"
              [(ngModel)]="Task.Task"
              value="{{ Task.Task }}"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <label for="email" class="col-form-label">Description: </label>
          </div>
          <div class="col-sm-6">
            <textarea
              class="form-control"
              id="txt_desc"
              name="desc"
              required="required"
              [(ngModel)]="Task.Description"
              rows="3"
            >
 {{ Task.Description }}</textarea
            >
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-sm-3">
            <label for="number" class="col-form-label">Due Date: </label>
          </div>
          <div class="col-sm-6">
            <input
              type="String"
              class="form-control form-control-sm"
              name="date"
              required="required"
              id="txt_date"
              [(ngModel)]="Task.Due_Date"
              value="{{ Task.Due_Date }}"
            />
          </div>
        </div>
        <br />

        <!--Standard form submit and reset buttons with a cell infornt to centralize buttons with form -->
        <button class="btn btn-primary" id="btn_add" type="submit">
          {{ title }}
        </button>
        <button
          routerLink="/task/task-list"
          class="btn btn-warning"
          type="reset"
        >
          Cancel
        </button>
      </form>
    </div>
  </div>
</div>
