<div class="container">
  <br />
  <div class="jumbotron" id="bodycolour">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1>{{ title }}</h1>

          <form class="form" (submit)="onDetailsPageSubmit()">
            <div class="form-group">
              <label for="NameTextField">Name:</label>
              <input
                type="text"
                class="form-control"
                id="NameTextField"
                name="Name"
                [(ngModel)]="task.Name"
                value="{{ task.Name }}"
                required
              />
            </div>

            <div class="form-group">
              <label for="TaskNameTextField">Task Name:</label>
              <input
                type="text"
                class="form-control"
                id="TaskNameTextField"
                placeholder=""
                name="task"
                [(ngModel)]="task.Task"
                value="{{ task.Task }}"
                required
              />
            </div>

            <div class="form-group">
              <label for="DescriptionTextField">Description:</label>
              <textarea
                type="textarea"
                class="form-control"
                id="DescriptionTextField"
                rows="7"
                name="Description"
                [(ngModel)]="task.Description"
                value="{{ task.Description }}"
                required
              ></textarea>
            </div>

            <div class="form-group">
              <label for="DateTextField">Date:</label>
              <input
                type="text"
                class="form-control"
                id="DateTextField"
                placeholder=""
                name="Due_Date"
                [(ngModel)]="task.Due_Date"
                value="{{ task.Due_Date }}"
                required
              />
            </div>
            <div>
              <button type="submit" class="btn btn-primary">
                <i class="fas fa-edit"></i>{{ title }}
              </button>
              <a routerLink="/task/task-list" class="btn btn-warning">
                <i class="fas fa-undo"></i> Cancel</a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
