
 <% include ../partials/headers.ejs %>
<main class="container">
        <div class="jumbotron" id="bodycolour">
    <% if(message.length > 0) { %>
        <div class="alert alert-danger">
            <%= message %>
        </div>
    <% }  %>
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <h1>Please Login</h1>
            <form method="POST">
                <fieldset class="form-group">
                    <label for="">Username: </label>
                    <input type="text" required class="form-control"
                    name="username" autofocus></fieldset>
                <fieldset class="form-group">
                    <label for="">Password: </label>
                    <input type="password" required class="form-control"
                    name="password">
                    or
                    <a href="/register">Register Here</a>
                
                </fieldset>
                <fieldset class="form-group text-right">
                    <input type="submit" class="btn btn-success" value="Login">
                    <a href="/">
                        <input type="button" class="btn btn-warning" value="Cancel">
                    </a>
            </form>
        </div>
    </div>
        </div>
</main>
<% include ../partials/footer.ejs %>